* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont,
                "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #333;
    letter-spacing: 1.5px;
    line-height: 1.75;
    background-color: white;

}

.wrapper{
  
}

a {
    text-decoration: none;
  }

h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}

h3 {
  font-size: 35px;
  font-weight: normal;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(../image/top.png);
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
  }

.top-wrapper h1 {
    opacity: 1;
    font-size: 70px;
    letter-spacing: 5px;
    
  }
  
.top-wrapper p {
    opacity: 0.9;
    font-size: 16px;
    margin-bottom: 40px;
  }

.btn-wrapper {
    text-align: center;
  }
  
.btn-wrapper p {
    margin-bottom: 20px;
  }
  
.twitter {
    background-color: #55acee;
  }

.discord {
    background-color: #7289da;
  }
  
.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.925;
    border-radius: 4px;
    text-align: center;
  }
  
.btn:hover {
    opacity: 1;
  }

header {
    height: 65px;
    width: 100%;
    background-color: rgba(196, 245, 255, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
    position: fixed;
  }

.header-left {
    float: left;
  }

.header-left > p {
  font-size: 25px;
  margin: 10px;
  color:rgba(0, 0, 0, 0.900)
}
  
.header-right {
    float: right;
    margin-right: 25px;
  }

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(0, 0, 0);
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
.header-right a:hover {
    background-color: rgba(196, 245, 255, 0.9);
  }



nav{
  border-bottom: 5px solid #ccc;
  position: relative;
  }
  nav ul{
  position: absolute;
  left:10%;
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
  }
  nav ul li{
  display: table-cell;
  min-width: 50px;
  }
  nav ul li a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #aaa;
  }
  nav ul li a:hover{
  color: #0089BB;
  background-color: #50b2f84b;
  }
  nav ul li:hover{
  border-top: 5px solid #50b2f8;
  }
  nav ul li.current{
    font-weight: bold;
    border-top: 5px solid #00B0F0;
    }
    nav ul li.current a{
    color: #00B0F0;
    }


main {
  height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
}

#introduction {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  
}

.self-introduction-img img {
  width: 170px;
  height: 170px;
  text-align: center;
  background-color:  #ccc;
  margin: 5px;
  margin-right: 10%; 
  float: left;              
}

.self-introduction-text {
  width: auto;
  text-align: center;
}

#activity {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.activity {
  margin: 5% 10%;
}

.activity h2 {
  text-align: center;
}

.activity ul {
  list-style-type: none;
}

ul.list li {
  padding: 10px;
  font-size: 20px;
}




.footer_menu ul li.current a{
  color: #00B0F0;
  }