* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont,
                "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #333;
    letter-spacing: 1.5px;
    line-height: 1.75;

}

a {
    text-decoration: none;
  }

h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}

h3 {
  font-size: 35px;
  font-weight: normal;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(./img/top.png);
    background-size: cover;
    color: rgba(0, 0, 0, 0.900);
    text-align: center;
  }

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 70px;
    letter-spacing: 5px;
  }
  
.top-wrapper p {
    opacity: 0.7;
    font-size: 16px;
    margin-bottom: 40px;
  }

.btn-wrapper {
    text-align: center;
  }
  
.btn-wrapper p {
    margin-bottom: 20px;
  }
  
.twitter {
    background-color: #55acee;
  }

.discord {
    background-color: #7289da;
  }
  
.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
.btn:hover {
    opacity: 1;
  }

header {
    height: 65px;
    width: 100%;
    background-color: rgba(196, 245, 255, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
    position: fixed;
  }

.header-left {
    float: left;
  }

.header-left > p {
  font-size: 25px;
  margin: 10px;
  color:rgba(0, 0, 0, 0.900)
}
  
.header-right {
    float: right;
    margin-right: 25px;
  }

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(0, 0, 0);
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
.header-right a:hover {
    background-color: rgba(196, 245, 255, 0.9);
  }


.main-menu {
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888888;
	display: block;
  margin-right: 25%;
  margin-left: 25%;
  overflow: hidden;
  width: 50%;
}
.main-menu ul {
    padding-left: 0;
    padding-right: 0;
}
.main-menu ul li {
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
  list-style-type: none;
	-webkit-transition: all 0.2s;
            transition: all 0.2s;
}

.main-menu > ul > li > a {
	color: #aaaaaa;
  display: block;
	line-height: 56px;
  padding: 0 20px;
	text-decoration: none;
}
.main-menu > ul > li:hover {
	background-color: rgb(35, 189, 255);
}
.main-menu > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}
.main-menu > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}

.main-menu > ul > li > div {
	background-color: rgb(35, 189, 255);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 10%;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	       transition: opacity 0.2s;
}
.main-menu > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
.main-menu > ul > li > div ul > li {
  display: block;
  padding-right: 10%;
  padding-left: 10%;
}
.main-menu > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	text-decoration: none;
}
.main-menu > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}

main {
  height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#introduction {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  
}

.self-introduction-img img {
  width: 170px;
  height: 170px;
  text-align: center;
  background-color:  #ccc;
  margin: 5px;
  margin-right: 10%; 
  float: left;              
}

.self-introduction-text {
  width: auto;
  text-align: center;
}

#activity {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.activity {
  margin: 5% 10%;
}

.activity h2 {
  text-align: center;
}

.activity ul {
  list-style-type: none;
}